.callback1 {
    background-image: url('../img//callback1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}

.callback1 h2 {
        font-family: PlayfairDisplay;
        color: #D4C17F;
        font-size: 36px;
        line-height: 47.99px;
        margin-bottom: 100px;
        padding-top: 180px;
        margin-bottom: 29px;
}

.callback1 .card {
    display: flex;
    justify-content: space-between;
}

.callback1 .card p {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #C4C4C4;
 
}

.callback1 .card > p {
    text-align-last: left;
    width: 47%;
}

.callback1 .card .inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px;
    width: 50%;
    
}

.callback1 .card .inputs input {
    flex-basis: 46%;
    height: 50px;
    opacity: 0.2;
    padding: 0;
    margin: 0;
    border: none;
}

.input::placeholder {
    font-family: Raleway;
    color: #e6cdcd;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    opacity: 1;
}

.callback1 .card .inputs button {
    flex-basis: 46%;
    height: 50px;
    background-color: #D4C17F;
    padding: 0;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    font-family: Raleway;

}

.callback1 .card .inputs > p {
    flex-basis: 46%;
    text-align: center;
    font-size: 13px;
    height: 100px;
}

