.second {
    margin-bottom: 120px;
}

.second ul {
    display: flex;
    justify-content: space-between;
    max-width: 794px;
    margin: 0 auto;
    text-align: center;
    align-items: flex-end;
}

.second ul p {
    font-family: Roboto-Regular;
    color: #fff;
    font-size: 20px;
    line-height: 27px;
    margin-top: 53px;
    opacity: 0.5;
}

