@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: Raleway-Regular;
  src: url("../fonts/raleway-family-v3.0/Raleway-Regular.ttf");
}

@font-face {
  font-family: PostNoBillsJaffna-SemiBold;
  src: url("../fonts/Post-No-Bills-Jaffna-SemiBold/postnobillsjaffna/PostNoBillsJaffna-SemiBold.ttf");
}

@font-face {
  font-family: PlayfairDisplay;
  src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #242b33;
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.cards-title {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
}

.number {
  z-index: -1;
  font-family: 'Noto Serif', serif;
  position: absolute;
  color: #282f37;
  font-size: 350px;
}

.header {
  background-image: url("../img/header-bg.jpg");
  background-position: center;
  width: 100%;
  background-size: cover;
  margin-bottom: 100px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 215px;
}

.header-logo-top {
  font-family: PostNoBillsJaffna-SemiBold;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
}

.header-logo-bottom {
  font-family: Roboto-Regular;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.12em;
  color: #FFFFFF;
  opacity: 0.7;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-item {
  margin-left: 40px;
}

.header-menu-link {
  color: #fff;
  opacity: 0.7;
}

.header-menu-burger {
  display: none;
}

.header-middle {
  width: 80%;
  margin: 0 auto;
}

.header-middle-title {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #D4C17F;
  margin-bottom: 80px;
}

.header-middle-mouseimg {
  display: block;
  margin: 0 auto;
  margin-bottom: 200px;
}

.header-bottom {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.header-bottom > a {
  font-family: Raleway-Regular;
  display: inline-block;
  text-align: right;
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.7;
}

.header-bottom-address {
  background-image: url("../../assets/img/placeholder.svg");
  width: 256px;
}

.header-bottom-phone {
  background-image: url("../../assets/img/phone.svg");
  width: 169px;
}

@media (max-width: 880px) {
  .header-menu-burger {
    display: block;
    position: absolute;
    right: 50px;
    top: 40px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .header-menu-burger span, .header-menu-burger span:before, .header-menu-burger span:after {
    display: block;
    width: 100%;
    position: absolute;
    height: 10px;
    background: #acaaaa;
    transition: .3s;
    border-radius: 5px;
  }
  .header-menu-burger span {
    top: 20px;
  }
  .header-menu-burger span:before {
    content: "";
    top: -20px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header-menu-burger span:after {
    content: "";
    bottom: -20px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header-menu-burger span.active {
    background: rgba(255, 255, 255, 0);
  }
  .header-menu-burger span.active:before {
    content: "";
    top: 0px;
    transform: rotate(45deg);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .header-menu-burger span.active:after {
    content: "";
    bottom: 0px;
    transform: rotate(-45deg);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .header-menu {
    display: none;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%);
    position: absolute;
    right: 120px;
    top: 30px;
    padding: 20px;
  }
  .header-menu-item {
    padding: 15px 10px 15px;
    margin: 0;
  }
  .header-menu-animate {
    display: flex;
    animation: backInRight;
    animation-duration: 2s;
  }
  .header-menu-hiding {
    animation: backOutRight;
    animation-duration: 2s;
  }
}

@media (max-width: 700px) {
  .header-top {
    margin-bottom: 130px;
  }
  .header-middle-title {
    font-size: 28px;
  }
  .header-middle-mouseimg {
    margin-bottom: 170px;
  }
  .header-bottom {
    width: 257px;
    flex-direction: column;
    align-items: center;
  }
  .header-bottom-address {
    margin-bottom: 20px;
  }
}

.footer {
  color: #000;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 794px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 120px;
}

.cards-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 25%;
  text-align: center;
  height: 180px;
}

.cards-text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  opacity: 0.7;
}

.cards-img {
  width: 40%;
  margin: 0 auto;
}

.number2 {
  top: -90%;
  right: 25%;
}

@media (max-width: 880px) {
  .cards {
    flex-direction: column;
    width: 80%;
  }
  .cards-card {
    margin-bottom: 80px;
  }
  .cards-img {
    margin-bottom: 30px;
  }
  .cards-text {
    font-size: 30px;
    line-height: 37px;
  }
}

.cards-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.cards-2-title {
  margin-bottom: 100px;
}

.cards-2 .card-2 {
  position: relative;
  flex-basis: 49%;
  height: 80%;
  width: 100%;
  margin-bottom: 30px;
}

.cards-2 .card-2-img {
  height: 100%;
  width: 100%;
}

.cards-2 .card-2-text {
  position: absolute;
  color: #fff;
  z-index: 1;
  bottom: 50px;
  left: 50px;
  opacity: 0.7;
}

.number-3 {
  top: -45%;
  left: 30%;
}

@media (max-width: 880px) {
  .cards-2 {
    flex-direction: column;
  }
  .cards-2 .card-2 {
    margin-bottom: 50px;
  }
}

.wannawatch {
  height: 560px;
  background-image: url("../img/wannawatch-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.wannawatch-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wannawatch-wrapper {
  display: flex;
  justify-content: space-between;
}

.wannawatch-title {
  margin-bottom: 30px;
  justify-self: start;
  align-self: start;
}

.wannawatch-left {
  width: 49%;
}

.wannawatch-left-text {
  padding-top: 2%;
  display: block;
  font-family: Raleway;
  font-size: 16px;
  line-height: 24px;
  opacity: .8;
}

.wannawatch-right {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wannawatch-right-name {
  opacity: .2;
  width: 48%;
  margin-bottom: 35px;
  height: 50px;
}

.wannawatch-right-name::placeholder {
  color: #BEBEBE;
  opacity: 1;
  text-align: center;
}

.wannawatch-right-phone {
  opacity: .2;
  width: 48%;
  margin-bottom: 35px;
  height: 50px;
}

.wannawatch-right-phone::placeholder {
  color: #BEBEBE;
  opacity: 1;
  text-align: center;
}

.wannawatch-right-text {
  font-family: Raleway;
  text-align: center;
  display: block;
  color: #E7E7E7;
  width: 48%;
}

.wannawatch-right-button {
  font-family: Raleway-Regular;
  width: 48%;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
  background: #D4C17F;
  border: none;
  height: 50px;
}

@media (max-width: 800px) {
  .wannawatch-wrapper {
    flex-direction: column;
  }
  .wannawatch-title {
    margin: 0 auto 30px;
  }
  .wannawatch-left {
    width: 100%;
    margin-bottom: 50px;
  }
  .wannawatch-right {
    width: 100%;
  }
}
